<style>
    .test{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        flex-direction: column;
    }
</style>

<div class="test">
    <h3>{{product.title}}</h3>
    <img src="{{product.featured_image | img_url: "300x"}}" alt="">
    {% if section.settings.show_rating %}
        <div>⭐️⭐️⭐️⭐️⭐️</div>
    {% endif %}

    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'tax_block' %}
                <div>
                    {{block.settings.tax_input}}
                </div>
            {% when 'shipping_block' %}
               <div>
                {{block.settings.shipping_input}}
               </div>
        {% endcase %}
    {% endfor %}

</div>

{% schema %}
{
   "name": "Editor Main Product Test",
  "settings": [
    {
       "type": "checkbox",
       "label": "Show Rating",
       "id": "show_rating"
    }
  ],
  "blocks":[
    {
       "type": "tax_block",
       "name": "Tax Block",
       "limit": 1,
      "settings": [
        {
           "type": "text",
           "label": "Tax Label",
           "id": "tax_input"
        }
      ] 
    },
    {
       "type": "shipping_block",
      "name": "Shipping Block",
      "limit": 1,
     "settings": [
        {
           "type": "text",
           "label": "Shipping Label",
           "id": "shipping_input"
        }
     ]
    }
  ]
}
{% endschema %}